{% extends 'base.html' %}
{% block title %} Resume{% endblock title %} 



{% block content %}

{{user}}
<h3 class="m-3">Your Details</h3>
    <table class="table table-striped table-info">
        <tr>
            <th>Name</th>
            <th>enail</th>
            <th>Mobile</th>
            <th>LinkedIN</th>
            <th>carrear Object </th>
            <th><a href="{% url 'details' %}" class="btn btn-block btn-success">ADD Personal Details</a> </th>
        </tr>
    {% for i in pro %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.linkedin}}</td>
            <td>{{i.carrearobject}}</td>
            <td><a href="{% url 'edit_details' %}" class="btn btn-dark btn-lg" >Edit Some detail</a></td>
        </tr>
    {% endfor %}
    </table>

<h3 class="m-4">Educational Details</h3>
    <table class="table table-striped">
        <tr>
            <th>College Name</th>
            <th>University </th>
            <th>branch </th>
            <th>yearofpass </th>
            <th>programinglang </th>
            <th>frontendlng </th>
            <th>framework </th>
            <th>cgpa </th>

            <th><a href="{% url 'education' %}" class="btn btn-block btn-success">Add Educational Qualification</a></th>
        </tr>
    {% for i in edu %}
        <tr>
            <td>{{i.collagename}}</td>
            <td>{{i.university}}</td>
            <td>{{i.branch }}</td>
            <td>{{i.yearofpass }}</td>
            <td>{{i.programinglang }}</td>
            <td>{{i.frontendlng }}</td>
            <td>{{i.framework }}</td>
            <td>{{i.cgpa }}</td>
            <td><a href="{% url 'edit_education' i.id %}" class="btn btn-lg btn-dark">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

<h3 class="m-3">Project Details</h3>

    <table class="table table-striped table-warning">
        <tr>
            <th>Project Title</th>
            <th>project Description </th>
            <th><a href="{% url 'project' %}" class="btn btn-block btn-success">ADD Working Experience</a> </th>
        </tr>
    {% for i in proj %}
        <tr>
    <td>{{i.projecttitle }}</td>
    <td>{{i.prodescrip }}</td>
    <td><a href="{% url 'edit_project' i.id %}" class="btn btn-lg btn-dark">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

<h3 class="m-3">Presonal Details </h3>

    <table class="table table-striped">
        <tr>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Father Name</th>
            <th>Address</th>
            <th>Strength</th>
            <th>hobbies</th>
            <th><a href="{% url 'personaldetails' %}" class="btn btn-block btn-success">Add Skills</a></th>
        </tr>
    {% for i in pd %}
        <tr>
            <td>{{i.dob}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.nationality}}</td>
            <td>{{i.fathername}}</td>
            <td>{{i.address}}</td>
            <td>{{i.strength}}</td>
            <td>{{i.hobbies}}</td>
            <td><a href="{% url 'edit_personaldetails' i.id %}" class="btn btn-lg btn-dark">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock  %}