{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Project Details {% endblock title %} 
{% block content %}

</style>
    {% if msg %}
        <h1 class="text-danger">{{msg}}</h1>
    {% endif %}
    <div class="container w-50  mt-5" style="min-height:550px;" >
        <form method="post">
            <h1 class="text-center m-5 text-primary"> <i class="fas fa-book-open    "></i> Project Details  </h1>
            {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>
            <button type="submit" class="btn  btn-primary"> <i class="fas fa-hand-point-up    "></i> Submit</button>
        </form>
    </div>
{% endblock %}